.CheckboxField {
	@apply flex relative;
	.CheckboxField-label {
		@apply font-bold pl-10 cursor-pointer;
	}
	.CheckboxField-control {
		@apply absolute cursor-pointer;
		top: 15px;
		left: 10px;
		&:focus {
			@apply outline-none;
		}
		&:focus::after {
			@apply border-black;
		}
		&::after {
			@apply absolute cursor-pointer block bg-white text-base border border-solid border-gray-light;
			content: ' ';
			width: 2rem;
			height: 2rem;
			top: -15px;
			left: -10px;
			&::focus {
				@apply outline-none border-black;
			}
		}
		&:checked::after {
			background: url(/images/check-solid-gray.svg) no-repeat 50% 50% theme('colors.white');
			background-size: 20px;
		}
	}
}