.Heading {
	&.Heading--ruled {
		&::after {
			@apply mt-4 mb-4 block;
			content: ' ';
			border-bottom: 2px solid theme('colors.gray.default');
			width: 50px;
		}
	}
	.Heading-rule {
		@apply mt-2 ml-4 mr-4;
		width: 30px;
		border-bottom: 2px solid theme('colors.gray.default');
	}
	.Heading-centerRule {
		width: 30px;
		border-bottom: 2px solid theme('colors.gray.default');
	}

	&.Heading--bordered {
		&::before {
			content: ' ';
			@apply absolute bg-gradient-to-r from-transparent via-blue-lighter w-full block;
			height: 6px;
			top: 50%;
		}
		.Heading-text {
			@apply bg-white px-6 z-10 relative;
		}
	}
}
