.Heading {
	&.Heading--ruled {
		&::after {
			@apply mt-4 mb-4 block;
			content: ' ';
			border-bottom: 2px solid theme('colors.gray.default');
			width: 50px;
		}
	}
	.Heading-rule {
		@apply mt-2 ml-4 mr-4;
		width: 30px;
		border-bottom: 2px solid theme('colors.gray.default');
	}
	.Heading-centerRule {
		width: 30px;
		border-bottom: 2px solid theme('colors.gray.default');
	}

	&.Heading--bordered {
		@apply flex justify-center uppercase;
	}
}
