.Hero {
	@apply relative;
	&::after {
		@apply block h-0 w-full;
		content: ' ';
		padding-bottom: 45.15%;
	}
}
.Hero-image {
	@apply absolute top-0 left-0 w-full object-cover;
}

@screen sm {
	.Hero::after {
		// This is calculated based on height / width
		padding-bottom: 25.3807%;
	}
	.Hero-image {
		@apply object-none;
	}
}