@import '_includes';

.Main {
	--config-image-height: 30vmax;
	--config-space-y: 2rem;
	--config-selector-panel-nav-height: 32px;
	--config-review-offset-y: calc(var(--header-height) + var(--config-image-height) + var(--config-space-y));
	--config-selector-panel-offset-y: calc(var(--config-review-offset-y) + var(--config-selector-panel-nav-height) + (var(--config-space-y) / 2));

	@apply pr-6 pl-6 m-auto;
	max-width: var(--site-max-width);
	&.Main--bleed {
		--site-overflow: hidden;
		@apply p-0 max-w-none;
		margin: var(--header-height) 0 0;
	}
}
.Icon {
	@apply w-8;
	&.Icon--sm {
		@apply w-6;
	}
}
.Header {
	@apply bg-white w-full;
}
.Header--fixed {
	@apply fixed top-0 z-20;
}
.Rule {
	width: 50px;
	border-bottom: 2px solid theme('colors.gray.default');
}
.ConfigImage {
	height: var(--config-image-height);
	img {
		@apply w-auto h-full m-auto object-contain;
	}
}
.ConfigPreview {
	/*height: var(--config-preview-height);*/
}
.ConfigReview {
	@apply absolute px-4 w-full;
	top: var(--config-review-offset-y);
}
.SelectorPanelContainer {
	@apply absolute w-full;
	top: var(--config-selector-panel-offset-y);
}
.SelectorPanelNav {
	@apply border-b border-white border-solid bg-gray-light100;
	height: var(--config-selector-panel-nav-height);
	&::after {
		@apply bg-white w-full block;
		height: 1px;
		background: #d1d1d1;
		content: ' ';
	}
}
.SelectorPanel {
	--config-selector-panel-margin-y: theme('margin[2]');
	@apply overflow-auto;
	margin-top: var(--config-selector-panel-margin-y);
	height: calc(100vh - var(--config-selector-panel-offset-y) - var(--config-selector-panel-nav-height) - var(--config-selector-panel-margin-y));
	.SelectorPanel-inside {
		@apply px-4 py-10 text-base;
	}
}
.SelectorPanel.is-debug {
	border: 1px solid red;
	.SelectorPanel-inside {
		height: 2000px;
	}
}
.ReviewConfigContainer {
	@apply border-t border-gray-lighter border-solid;
	--review-nav-height: 36px;
}
.ReviewNav {
	@apply flex;
	height: var(--review-nav-height);
}
.ReviewConfig {
	.ReviewConfig-hero {
		@apply relative;
		&::after {
			@apply block h-0 w-full;
			padding-bottom: 36.03%;
			content: ' ';
		}
	}
	.ReviewConfig-heroImg {
		@apply absolute top-0 left-0 w-full;
	}
	.ReviewConfig-body {
		@apply border-t-4 border-solid border-gray-light100;
	}
	.ReviewConfig-options {
		@apply grid gap-6;
		grid-template-columns: repeat(2, minmax(136px, 1fr));
		justify-items: center;
		margin-left: auto;
		margin-right: auto;
	}
	.ReviewConfig-option {
		@apply flex flex-col text-center;
		margin: 0;
		+ .ReviewConfig-option {
			//margin-left: 10rem;
		}
	}
	.ReviewConfig-optionBody {
		max-width: 136px;
	}
}
// 655 x 236 36.03%
