@import '_includes.css';

*:focus {
	outline-color: theme('colors.outline') !important;
}
.Main {
	@apply pr-6 pl-6 m-auto;
	max-width: var(--site-max-width);
}
.Icon {
	@apply w-8;
	&.Icon--sm {
		@apply w-6;
	}
}
.Header {
	@apply bg-white w-full;
}
.Button {
	@apply
		inline-block text-base bg-red text-white px-4 py-2 text-center uppercase font-bold
		transition-all duration-200 ease-in-out border border-transparent;
	border-radius: 1rem;
	&:hover {
		@apply bg-blue;
	}
	&.Button--secondary {
		@apply bg-black text-white;
		&:hover {
			@apply bg-white border border-gray text-black;
		}
	}
}
.Rule {
	width: 50px;
	border-bottom: 2px solid theme('colors.gray.default');
}
.Sociables {
	@apply list-none m-0 p-0;
	.Sociables-facebook svg {
		width: 16px;
	}
	.Sociables-instagram svg {
		width: 25px;
	}
	.Sociables-pinterest svg {
		width: 20px;
	}
	.Sociables-youtube svg {
		width: 25px;
	}
}