.Modal {
	@apply relative;
}
.Modal-backdrop {
	@apply w-screen h-screen fixed top-0 left-0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.90);
}
.Modal-container {
	@apply bg-white fixed z-10 overflow-y-scroll;
	width: 90%;
	max-height: 90%;
	top: 5%;
	left: calc(50% - (var(--modal-width) / 2));
}
.Modal-closeBtn {
	@apply fixed bg-red rounded-full z-20;
	top: calc(5% - 16px);
	right: calc(5% - 16px);
}
.Modal-closeBtnImg {
	@apply w-8 h-8 p-1;
}
.Modal-content {
	@apply p-12;
}