.Modal-backdrop {
	@apply w-screen h-screen fixed top-0 left-0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.90);
}
.Modal-container {
	@apply bg-white absolute;
	width: 90vw;
	top: 30px;
	left: calc(50% - (var(--modal-width) / 2));
	z-index: 10;
}
.Modal-closeBtn {
	@apply absolute bg-red rounded-full;
	top: -10px;
	right: -10px;
}
.Modal-closeBtnImg {
	@apply w-8 h-8 p-1;
}
.Modal-content {
	@apply p-12;
}