.Page {
	&.Page--config {
		@apply overflow-hidden;
	}
}
.Page {
	--header-height: 80px;
	@apply text-sm h-full;
	&.Page--config {
		--header-height: 70px;
		@apply bg-gray-lighter;
	}
}

@screen md {
	.Page {
		@apply text-lg;
	}
}

@screen xl {
	.Page.Page--config {
		--header-height: 80px;
	}
}