.Page {
	--header-height: 80px;
	body {
		@apply text-sm h-full;
	}
	&.Page--product,
	&.Page--config {
		body {
			@apply bg-gray-lighter;
		}
	}
	&.Page--config {
		--header-height: 70px;
		body {
			@apply overflow-hidden;
		}
	}
}

@screen md {
	.Page body {
		@apply text-lg;
	}
}

@screen xl {
	.Page.Page--config {
		--header-height: 80px;
	}
}