.PanelProduct {
	--panel-width: theme('width.full');
	--panel-gap-x-multiplier: 0;
	--panel-max-width: none;

	@apply
		border-b-4 border-transparent bg-white pt-4 pr-4 pb-4 pl-4 mt-6 mb-6 ml-12 flex flex-col
		overflow-hidden transition-all duration-500 ease-in-out;
	width: calc(var(--panel-width) - (theme('spacing[12]') * var(--panel-gap-x-multiplier)));
	max-width: var(--panel-max-width);
	&.is-open {
		@apply border-b-4 border-red h-auto;
		.PanelProduct-details {
		}
	}
}
.PanelProduct-hero {
	height: 5rem;
	min-height: 5rem;
}
.PanelProduct-heroInside {
	@apply flex h-full;
}
.PanelProduct-img {
	max-width: 144px;
	max-width: 25%;
	img {
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}
}
.PanelProduct-details {
	@apply pb-12 relative;
}
.PanelProduct-title {
	@apply uppercase leading-tight font-bold pl-2;
}
.PanelProduct-moreInfo {
	@apply inline-block w-4 opacity-50 transition-all duration-500 ease-in-out;
	&:hover {
		@apply opacity-100;
	}
}

@screen xl {
	.PanelProduct {
		--panel-gap-x-multiplier: 1;
		--panel-max-width: 427.5px;
	}
}
@screen 3xl {
	.PanelProduct {
		width: auto;
		--panel-gap-x-multiplier: 2;
		--panel-max-width: 30.13%;
	}
}