.PanelProduct {
	--panel-width: theme('width.full');
	--panel-gap-x-multiplier: 0;
	--panel-max-width: none;

	@apply
		border-b-4 border-transparent bg-blue-200 p-4 mt-6 mb-6 ml-12 flex flex-col cursor-pointer
		overflow-hidden transition-all duration-500 ease-in-out;
	width: calc(var(--panel-width) - (theme('spacing[12]') * var(--panel-gap-x-multiplier)));
	max-width: var(--panel-max-width);
	&.is-open {
		@apply border-b-4 border-red h-auto cursor-auto;
		.PanelProduct-image {
			@apply hidden;
		}
		.PanelProduct-animatedImage {
			@apply block;
		}
	}
}
.PanelProduct-hero {
	height: 5rem;
	min-height: 5rem;
}
.PanelProduct-description {
	@apply font-normal;
}
.PanelProduct-heroInside {
	@apply flex h-full;
}
.PanelProduct-imgContainer {
	@apply flex-shrink-0 relative -ml-4 -mt-4;
	width: 144px;
	img {
		width: auto;
		max-width: 100%;
		max-height: 100%;
	}
}
.PanelProduct-animatedImage {
	@apply hidden;
}
.PanelProduct-details {
	@apply pb-12 relative;
}
.PanelProduct-title,
.PanelProduct-titleTall {
	@apply leading-tight font-bold;
}
.PanelProduct-moreInfo {
	@apply inline-block w-4 opacity-50 transition-all duration-500 ease-in-out;
	&:hover {
		@apply opacity-100;
	}
}

@screen xl {
	.PanelProduct {
		@apply w-auto opacity-50;
		height: auto !important;
		--panel-gap-x-multiplier: 2;
		--panel-max-width: calc(33.3333% - (1.5rem * var(--panel-gap-x-multiplier)));
		&.is-open {
			@apply border-b-0 opacity-50;
		}
		&.is-active {
			@apply opacity-100;
			.PanelProduct-image {
				@apply hidden;
			}
			.PanelProduct-animatedImage {
				@apply block;
			}
		}
	}
	.PanelProduct-image,
	.PanelProduct-animatedImage {
		@apply -mx-4;
	}
	.PanelProduct-imgContainer {
		@apply w-full m-auto;
	}
	.PanelProduct-hero {
		@apply h-auto;
		min-height: auto;
	}
	.PanelProduct-heroInside {
		@apply h-auto flex-col-reverse;
	}
	.PanelProduct-title {
		min-height: 110px;
	}
	.PanelProduct-titleTall {
		min-height: 140px;
	}
}