.Panel {
	--panel-width: theme('width.full');
	--panel-gap-x-multiplier: 0;
	--panel-max-width: none;

	@apply bg-gray-lighter p-6 mt-6 mb-6 ml-12 flex flex-col justify-between;
	width: calc(var(--panel-width) - (theme('spacing[12]') * var(--panel-gap-x-multiplier)));
	max-width: var(--panel-max-width);
}
.Panel-title {
	@apply uppercase leading-tight;
}
@screen md {
	.Panel {
		--panel-gap-x-multiplier: 1;
		--panel-width: theme('width[6/12]');
	}
}
@screen xl {
	.Panel {
		--panel-gap-x-multiplier: 1;
		--panel-max-width: 427.5px;
	}
}
@screen xxxl {
	.Panel {
		--panel-gap-x-multiplier: 2;
		--panel-width: theme('width[4/12]');
	}
}