.Radio {
	&.Radio--color {
		.Radio-group {
			@apply flex mt-2 ml-6;
		}
		.Radio-fieldGroup {
			@apply text-4xl;
		}
		.Radio-label {
			@apply relative float-left rounded-full cursor-pointer;
			width: 1em;
			height: 1em;
			background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' preserveAspectRatio='none'%3E%3Ccircle cx='50%' cy='50%' r='4' stroke-width='1' stroke='%23000' fill='transparent' /%3E%3C/svg%3E") no-repeat 50% 50%;
			background-size: 1.30em;
			&:active {
				@apply outline-none;
			}
		}
		.Radio-control {
			@apply opacity-0 absolute;
			&:focus ~ .Radio-label {
				/*outline: 2px solid theme('colors.outline');*/
			}
			&:checked ~ .Radio-label {
				border: 0.075em solid theme('colors.white');
				box-shadow: 0 0 0 0.03em theme('colors.red');
				&::after {
					@apply absolute rounded-full;
					content: ' ';
					background: url(/images/check-solid-white.svg) no-repeat 50% 50% theme('colors.red');
					background-size: 0.3em;
					width: 0.5em;
					height: 0.5em;
					top: -0.1em;
					left: 0.55em;
				}
			}
		}
	}
}

@screen xl {
	.Radio {
		&.Radio--color {
			.Radio-group {
				@apply ml-3;
			}
		}
	}
}