.ReviewConfigContainer {
	@apply border-t border-gray-lighter border-solid;
	--review-nav-height: 36px;
	--review-footer-height: 67px;
}

@screen xl {
	--review-nav-height: 0;
}

@screen print {
	.ReviewConfigContainer {
		@apply border-none;
		page-break-before: always;
	}
}