.ReviewConfigOption {
	@apply relative border-8 border-solid border-blue-100 flex flex-col p-12 justify-between;
	.ReviewConfigOption-control {
		@apply absolute m-0 flex-shrink-0;
		top: -15px;
		right: -15px;
	}
	.ReviewConfigOption-thumb {
		@apply w-full;
	}
	.ReviewConfigOption-swatch,
	.ReviewConfigOption-swatchMulti {
		@apply rounded-full my-4 mx-auto;
		width: 110px;
		height: 110px;
	}
}

@screen xl {
	.ReviewConfigOption {
		@apply flex-row items-center;
		.ReviewConfigOption-control {
			@apply static ml-12;
		}
		.ReviewConfigOption-thumb {
			width: 188px;
		}
		.ReviewConfigOption-swatch {
			@apply mr-8;
		}
	}
}