.SelectorMenu {
	@apply hidden justify-between bg-white text-white;
	height: var(--config-selector-panel-nav-height);
}
.SelectorMenu-item {
	@apply transition-all duration-300 ease-in-out block text-center relative bg-blue-400;
	flex: 1 1 0;
	&:hover,
	&.is-active {
		@apply bg-blue text-white;
		.SelectorMenu-button {
			@apply font-bold;
		}
	}
	&:hover {
		.SelectorSubMenu {
			@apply block opacity-100;
		}
	}
}
.SelectorMenu-button {
	@apply text-base w-full h-full p-2;
}
.SelectorSubMenu {
	@apply hidden opacity-0 absolute bg-gray px-4 py-6 text-white transition-all duration-300 ease-in-out z-10;
	width: calc(100% + 40px);
	margin-left: -20px;
}
.SelectorSubMenu-item {
	@apply uppercase text-left pl-8 pr-4 py-2 text-sm font-bold w-full transition-all duration-300 ease-in-out;
	&:hover {
		@apply bg-white text-gray;
	}
}

@screen xl {
	.SelectorMenu {
		@apply grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-column-gap: 1px;
	}
}