.SelectorPanel {
	--config-selector-panel-margin-y: theme('margin[2]');
	@apply overflow-auto;
	margin-top: var(--config-selector-panel-margin-y);
	height: calc(100vh - var(--config-selector-panel-offset-y) - var(--config-selector-panel-nav-height) - var(--config-selector-panel-margin-y));
	.SelectorPanel-inside {
		@apply px-4 py-10 text-base;
	}
}
.SelectorPanel.is-debug {
	border: 1px solid red;
	.SelectorPanel-inside {
		height: 2000px;
	}
}

@screen xl {
	.SelectorPanel {
		@apply mt-0 bg-gray-light100;
		height: var(--config-image-height);
	}
}