.Sociables {
	@apply list-none m-0 p-0;
	.Sociables-facebook svg {
		width: 16px;
	}
	.Sociables-instagram svg {
		width: 25px;
	}
	.Sociables-pinterest svg {
		width: 20px;
	}
	.Sociables-youtube svg {
		width: 25px;
	}
}
