.Tooltip {
	background: theme('colors.blue.default') !important;
	border-radius: 0.25rem !important;
	padding: 0.25rem 1rem 0.5rem !important;
	font-weight: bold !important;
	text-align: center !important;
	font-size: 1rem !important;
	opacity: 1 !important;
	&::before {
		display: none !important;
	}
	&::after {
		--border-width-scale: 0.75;
		--border-slope: 1;
		--border-width-x: 1em;
		--border-width-y: calc(var(--border-width-x) * var(--border-slope));

		width: 0 !important;
		height: 0 !important;
		margin: 0 !important;
		left: 50% !important;
		bottom: -13px !important;
		transform: translateX(-50%) !important;
		border-left-style: solid !important;
		border-right-style: solid !important;
		border-left-color: transparent !important;
		border-right-color: transparent !important;
		border-left-width: calc(var(--border-width-x) * var(--border-width-scale)) !important;
		border-right-width: calc(var(--border-width-x) * var(--border-width-scale)) !important;
		border-top-width: calc(var(--border-width-y) * var(--border-width-scale)) !important;
		border-top-color: theme('colors.blue.default') !important;
		border-bottom: none !important;
	}
	&.place-right::after {
		left: -19px !important;
		transform: rotate(90deg) translateY(-50%) !important;
		top: 50% !important;
		transform-origin: top !important;
	}
	&.place-bottom::after {
		bottom: auto !important;
		top: -1px !important;
		transform: rotate(180deg) translateX(50%) !important;
		transform-origin: top !important;
	}
	&.place-left::after {
		left: auto !important;
		right: -19px !important;
		transform: rotate(-90deg) translateY(-50%) !important;
		top: 50% !important;
		transform-origin: top !important;
	}
}
