.SiteNav {
	@apply m-auto pl-6;
	max-width: var(--site-max-width);
}
.SiteNav-wrap {
	@apply flex items-center justify-between;
	height: 80px;
}
.SiteNav-logo {
	@apply mr-6;
	width: 120px;
}
.SiteNav-menu {
	@apply flex self-stretch;
	li {
		@apply flex;
		border-left: 1px solid theme('colors.black');
	}
	a {
		@apply flex items-center pl-6 pr-6;
	}
	span {
		@apply text-sm;
	}
}