.is-nav-sticky {
	@apply z-10 fixed w-full;
	top: -80px;
}
.SiteSubnav {
	@apply bg-black text-white pr-6 pl-6 m-auto flex absolute;
	min-height: 60px;
	top: 80px;
	max-width: var(--site-max-width);
}
.SiteSubnav-wrap {
	@apply flex items-center w-full;
}
.SiteSubnav-items {
	@apply flex items-center text-sm h-full;
	li {
		@apply h-full ml-1;
		a {
			@apply flex items-center h-full pl-6 pr-6 transition-all duration-200 ease-in-out;
			border: 1px solid theme('colors.transparent');
			border-left: none;
			border-right: none;
			&:hover {
				@apply text-black bg-white;
				border: 1px solid theme('colors.gray.lighter');
				border-left: none;
				border-right: none;
			}
		}
	}
	li + li {
		@apply ml-1;
	}
}